{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block main %}
    <div class="row">
        <div class="col-12">
            <h2>Your points</h2>
            <p>Text and graph</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Previous recorded weights</h3>
            <div class="ct-chart ct-perfect-fourth"></div>

            <a class="btn btn-primary" href="#">Add</a>
        </div>
        <div class="col-12 col-md-6">
            <h3>Steps</h3>
              <div class="ct-chart ct-perfect-fourth"></div>
            <a class="btn btn-primary" href="#">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Log food</h3>
            {{ wtf.quick_form(f_form, button_map={'food-submit':'primary'},form_type='inline') }}
        </div>
        <div class="col-12 col-md-6">
            <h3>Log Exercises</h3>
            {{ wtf.quick_form(e_form, button_map={'exercise-submit':'primary'},form_type='inline') }}
        </div>
    </div>
    <div class="row">
        <h3>Recommended</h3>
        x food vs y cal + recomm
    </div>

{% endblock %}
{% block script %}
    <script>
        function jsonToChartInput(jsonInput) {
          seriesArray = [];
          labelsArray = [];
          for (var i = 0; i < jsonInput.length; i++) {
            seriesArray.push(jsonInput[i].series);
            labelsArray.push(jsonInput[i].labels);
          }
          return [seriesArray, labelsArray];
        }

        function createChart(chartInput) {
          new Chartist.Line('.ct-chart', {
            labels: chartInput[1],
            series: [
              chartInput[0]
            ]
          }, {
            fullWidth: true,
            chartPadding: {
              right: 40
            },
            showArea : true
          });
        }

        var weights = jsonToChartInput({{ weights|tojson }});
        createChart(weights);


        window.addEventListener('DOMContentLoaded', () => {
            var dropdowns = document.querySelectorAll('select')

            dropdowns.forEach(function(dropdown) {
                var option = document.createElement("option");
                option.text = "Choose";
                option.disabled = true;
                option.selected = true;
                option.value = "";
                dropdown.add(option, 0);
            });

            document.querySelectorAll('form').forEach((form) =>
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    let selected = form.querySelector('select').value;
                    if (selected !== "") {
                        form.submit();
                    } else {
                        alert('Please select something from the dropdown.')
                    }
            })
            )
        })
    </script>
{% endblock %}
