{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}


{% block main %}
    {% for weight in weights %}

        {{ weight.weight }}
    {% endfor %}
    <div class="row">
        <div class="col-12">
            <h2>Your points</h2>
            <p>Text and graph</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Weight</h3>
            <p>A chart</p>
            <a class="btn btn-primary" href="#">Add</a>
        </div>
        <div class="col-12 col-md-6">
            <h3>Steps</h3>
            <p>A chart</p>
            <a class="btn btn-primary" href="#">Add</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h3>Log food</h3>
            {{ wtf.quick_form(f_form, button_map={'food-submit':'primary'},form_type='inline') }}
        </div>
        <div class="col-12 col-md-6">
            <h3>Log Exercises</h3>
            {{ wtf.quick_form(e_form, button_map={'exercise-submit':'primary'},form_type='inline') }}
        </div>
    </div>
    <div class="row">
        <h3>Recommanded</h3>
        x food vs y cal + recomm
    </div>

{% endblock %}
{% block script %}
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            var dropdowns = document.querySelectorAll('select')

            dropdowns.forEach(function(dropdown) {
                var option = document.createElement("option");
                option.text = "Choose";
                option.disabled = true;
                option.selected = true;
                option.value = "";
                dropdown.add(option, 0);
            });

            document.querySelectorAll('form').forEach((form) =>
                form.addEventListener('submit', function(event) {
                    event.preventDefault();
                    let selected = form.querySelector('select').value;
                    if (selected !== "") {
                        form.submit();
                    } else {
                        alert('Please select something from the dropdown.')
                    }
            })
            )
        })
    </script>
{% endblock %}