{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}

{% block main %}
    <h1>Profile</h1>
    <h6>Name:</h6>
    <p>
    {{ current_user.first_name }} {{ current_user.last_name }}
    </p>
    <h6>Birthday:</h6>
    <p>
    {{ current_user.birthday | formatdate }}
    </p>
    <h6>Height</h6>
    <p>
    {{ current_user.height }} cm
    </p>
    <h6>Weight</h6>
    <p>
        {{ current_user.current_weight().weight }} kg
    </p>
    <p>
        <a href="{{ url_for('edit_profile') }}" class="btn btn-secondary">Edit Profile</a>
    </p>
{% endblock %}
